<?xml version="1.0"?>

<!--
This file configures hector slam to be used with Hokuyo UST-20LX (real or simulated).

tf setup when used with ...

... the simulated drone:
  - height and attitude come from the simulated ideal IMU.
  - estimated x, y, yaw are published by hector_mapping as slam_base_footprint

... the real drone:
  - height and attitude have to be collected from onboard sensors like real IMU and ultra sonic distance measurement
  - This is possible since the drone has these sensors

... the Hokuyo only, e.g. when carrying the sonsor and a laptop
  - no IMU available, thus base_footprint, base_stabilized and base_link are all the same
  - this project uses the prefix slam_ for frames that are associated with hector mapping.

-->

<launch>
  <arg name="scan_topic_name"/>

  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">

    <!-- Frame names -->
    <param name="map_frame" value="odom"/>
    <param name="base_frame" value="base_link" />
    <param name="odom_frame" value="base_link" />

    <param name="tf_map_scanmatch_transform_frame_name" value="slam_footprint"/>

    <param name="pub_map_odom_transform" value="false"/>

    <!-- Scan parameters -->
    <param name="scan_subscriber_queue_size" value="5"/>
    <param name="scan_topic" value="$(arg scan_topic_name)"/>

    <param name="laser_min_dist" value="0.75"/>
    <param name="laser_max_dist" value="20.0"/>
    <param name="map_pub_period" value="1.0"/>

    <!-- Map size / start point -->
    <param name="map_resolution" value="0.025"/>
    <param name="map_size" value="2048"/>
    <param name="map_start_x" value="0.5"/>
    <param name="map_start_y" value="0.5" />
    <param name="map_multi_res_levels" value="2" />

    <!-- Map update parameters -->
    <param name="update_factor_free" value="0.4"/>
    <param name="update_factor_occupied" value="0.9" />
    <param name="map_update_distance_thresh" value="0.05"/>
    <param name="map_update_angle_thresh" value="0.06" />
    <param name="laser_z_min_value" value = "-0.5" />
    <param name="laser_z_max_value" value = "0.5" />

  </node>

</launch>
